<html>
  <head>
    <link href="<%= url('app/assets/stylesheets/application.css') %>" rel="stylesheet" type="text/css" />
    <script src="<%= url('app/assets/javascript/application.js') %>"></script>
    <title>Notes App</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>